<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartLamp</title>
    <script type="javascript" src="js/bootstrap.min.js"></script>
    <script type="javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/echart.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 main">
                <h1 class="page-header">智慧灯杆性能展示</h1>
                <h2 class="sub-header">折线图</h2>
                <div  class="col-md-12 col-md-6 col-sm-12 col-lg-12">
                <div  class="col-md-6" id="Hum" style="height:200px;"></div>
                <div  class="col-md-6" id="Tem" style="height:200px;"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-12">
                <div  class="col-md-6" id="sunValue" style="height:200px;"></div>
                <div  class="col-md-6"id="LED_Value" style="height:200px;"></div>
                </div>
                <div class="col-md-12 table-responsive">
                    <h2 class="sub-header">列表</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>sunValue</th>
                            <th>LED_OnOff</th>
                            <th>Tem</th>
                            <th>air</th>
                            <th>LED_Value</th>
                            <th>IfRain</th>
                            <th>Buzzer_OnOff</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product:${productDTOS}">
                            <td th:text="${product.getTime()}"></td>
                            <td th:text="${product.getSunValue()}"></td>
                            <td th:text="${product.getLED_OnOff()}"></td>
                            <td th:text="${product.getTem()}"></td>
                            <td th:text="${product.getAir()}"></td>
                            <td th:text="${product.getLED_Value()}"></td>
                            <td th:text="${product.getIfRain()}"></td>
                            <td th:text="${product.getBuzzer_OnOff()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>