<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="javascript" src="js/bootstrap.js"></script>
    <script type="javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/currentechart.js"></script>
    <script type="text/javascript" src="js/searchData.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/serachdata.css">
</head>
<body id="body">
        <div class="pagelocal">
            <div class="box">
                <h1>Download</h1>
                <input type="text" class="user" id="appid" placeholder="appid" name="user">
                <input type="password" class="pass" id="pass" placeholder="password" name = "pass">
                <input type="submit" class="submit" value="Download" id="submit" onclick="download()">
            </div>
        </div>
        </body>
</html>